.year {
    color: rgba(0, 0, 0, 0.3);
    font-weight: bold;
    font-size: 2em;
}

.field {
    padding-top: 5px;
}

@media only screen and (max-width: 768px) {
    #skills {
        padding-top: 50px;
    }
}
#field {
    padding-bottom: 50px;
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    /* background-color: aliceblue; */
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: black;
    top: 0;
    bottom: 0;
}

/* Container around content */
.container-time {
    position: relative;
    background-color: inherit;
}
  
/* The circles on the timeline */
.container-time::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: white;
    border: 4px solid black;
    top: 0px;
    border-radius: 50%;
    z-index: 1;
}
  
  
/* The actual content */
.content {
    /* background-color: blue; */
    padding-left: 50px;
    padding-bottom: 40px;
}

.content h2 {
    padding-bottom: 5px;
}

.timeline::after {
    left: 24px;
}


#footer {
    padding-top: 50px;
    padding-bottom: 50px;
}

#footer ul li {
    display: inline-block;
}

#timeline-headline {
    padding-bottom: 10px;
}
.info {
    font-weight: 600;
    color: tomato
}
