@media only screen and (max-width: 768px) {
    .info {
        font-weight: 400;
    }

    .skills-field {
        font-size: 20px;
    }
}

@media only screen and (min-width: 769px) {
    .outer-left {
        padding-left: 300px;
    }
    
    .outer-right {
        padding-right: 300px;
    }

    .skills-field {
        font-size: 30px;
    }
}

.container {
    /* background-color: aqua; */
    padding: 0;
    padding-left: 4vw;
    padding-right: 4vw;
}

.noborders {
    margin: 0 !important;
    padding: 0 !important;
    max-width: none !important;
}

.tab-headline {
    font-size: 50px;
}

.section {
    margin: 0;
}

.section-container {
    /* background-color: wheat; */
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.headline {
    text-align: center;
    color: rgb(22, 15, 41);
    padding-bottom: 50px;
}

.field {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.language-number {
    font-size: 30px;
    padding-bottom: 20px;
}

.language-headline {
    font-size: 40px;
}

.image {
    height: 100px;
}

img {
    vertical-align: middle;
    max-height: 64px;
    max-width: 160px;
}

.info-head {
    color: rgb(36, 106, 115);
    font-weight: 700;
}

.info {
    color: rgb(22, 15, 41);
    font-weight: 400;
}

#languages {
    background-color: rgb(243, 223, 193);
}

#skills {
    background-color: rgb(221, 190, 168);
}

#timeline {
    background-color: rgb(243, 223, 193);
}

.year {
    color: rgb(36, 106, 115);
}