@media only screen and (max-width: 960px) {
    .images {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    .drawing {
        flex: 0 0 auto;
    }
}
.container {
    /* background-color:beige; */
    padding-right: 100px;
    padding-bottom: 100px;
}
.topic {
    padding-top: 50px;
}

.headline-outer {
    display:table;
    /* background-color: blue; */
}

.headline-inner {
    padding: 50% 0;
    height: 0;
}

.headline-inner a {
    display: block;
    transform-origin: top left;
    transform: rotate(-90deg) translate(-100%);
    margin-top: -50%;
    white-space: nowrap;
    letter-spacing: 5px;
    position: relative;
    color: black;
}

.images {
    /* background-color:red; */
    display: flex;
    justify-content: space-between;
}

.drawing {
    width: 270px;
    height: 270px;
    object-fit: cover;
    transition: 0.5s ease;
    -webkit-filter: grayscale(70%);
    filter: grayscale(70%);
}

.drawing:hover {
    transition: .5s ease;
    -webkit-filter: none;
    filter: none;
}

#description {
    font-size: 1.1em;
}
