@media only screen and (max-width: 700px){
    
}

@media only screen and (max-width: 560px) {
    
}

@media only screen and (min-width: 561px ) {
   
}

.container {
    padding: 0;
    padding-left: 10vw;
    padding-right: 10vw;
}

.topic {
    padding-bottom: 10px;
    margin: 0 !important;
}

.topic-headline {
    font-size: 30px;
    font-weight: 500;
    width: 100%;
    padding-bottom: 50px;
}

.card-columns {
    column-count: 3;
}

.picture-container {
    overflow: hidden;
    width: 250px !important;
    height: 250px;
}

.picture-container img {
    height: 250px;
    width: 250px;
    object-fit: cover;
}

.button {
    padding-bottom: 80px;
}

.picture {
    width: 300px;
    height: auto;
}
