@media only screen and (max-width: 700px){
    
}

@media only screen and (max-width: 560px) {
    
}

@media only screen and (min-width: 561px ) {
   
}

.container {
    padding: 0;
    padding-left: 20px;
    padding-right: 20px;
}

.topic {
    padding-bottom: 10px;
    margin: 0 !important;
}

.topic-headline {
    font-size: 30px;
    font-weight: 700;
    width: 100%;
    padding-bottom: 50px;
}

.card-columns {
    column-count: 3;
}

.card {
    margin-bottom: 30px !important;
}

.picture-container {
    overflow: hidden;
    max-width: 350px !important;
    max-height: 350px;
}

.picture-container img {
    height: 350px;
    width: 350px;
    object-fit: cover;
}

.button {
    padding-bottom: 80px;
}

.picture {
    width: 300px;
    height: auto;
}
