#content {
    padding-top: 20px;
    padding-right: 150px;
    font-size: 1.5em;
    margin-bottom: 100px;
    line-height: 30px;
    /* background-color:pink; */
}
.headline {
    color: black;
    font-size: 1.1em;
    font-weight: 900;
}
.topic {
    padding-bottom: 100px;
    padding-top: 100px;
    display: flex;
    align-items: center;
    position: relative;
    /* background-color: chocolate */
}

.image {
    display: block;
    font-size: 0;
    object-fit: cover;
    width: 400px;
    height: 400px;
    transition: 0.5s ease;
    -webkit-filter: grayscale(70%);
    filter: grayscale(70%);
}

.image:hover {
    transition: .5s ease;
    -webkit-filter: none;
    filter: none;
}
.media {
    /* background-color: aqua; */
    /* width: 35.9%; */
    line-height: 0;
    border: 0;
    padding: 0;
    margin: 0;
}
.text {
    width: 64.1%;
    padding-left: 50px;
    padding-right: 50px;
    text-align: justify;
    /* background-color: bisque; */
}

.background {
    position: absolute;
    width: 100%;
    font-size: 20em;
    font-weight: 900;
    opacity: 0.1;
}
.right {
    text-align: right;
}
.left {
    text-align: left;
}

.delay-1 {
    animation-delay: 0.1s;
}
.delay-2 {
    animation-delay: 0.2s;
}
.delay-3 {
    animation-delay: 0.3s;
}
.delay-4 {
    animation-delay: 0.4s;
}
.delay-5 {
    animation-delay: 0.5s;
}

