.container {
    padding: 0;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-bottom: 500px;
}

.text-block {
    color: rgb(22, 15, 41);
}

/* for the text in the middle */
.middle {
    position:relative;
    left: -200px;
}
.right {
    position:relative;
    left: -500px;
}

#jap {
    line-height: 37px;
    font-family: 'Roboto';
}

.col {
    overflow: hidden;
    padding:0;
}

.textblock {
    position:relative;
    white-space: nowrap;
}