
html, body {
    font-family:'Helvetica';
    font-weight: 900;
    margin: 0;
    padding: 0;
    background-color:rgb(250, 250, 250);
}

.container {
    min-height: 100%;
    height: 100%;
    position: relative;
    /* background-color: aqua; */
}
#logo {
    /* background-color: beige; */
    font-size: 5em;
    line-height: 60px;
    padding-left: 40px;
}

@media only screen and (min-width: 961px) {
    #container {
        padding-top: 100px;
    }
}

@media only screen and (max-width: 960px) {
    #container {
        padding-top: 50px;
    }
}
#navbar {
    line-height: 30px;
    padding-left: 40px;
    padding-bottom: 50px;
    /* background-color: azure; */
}

#content {
    /* background-color: aquamarine; */
}
.row {
    margin: 0;
    padding: 0;
}
h1 {
    padding: 0;
    margin: 0;
}
h2 {
    padding: 0;
    margin: 0;
}
ul {
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    font-size: 1.2em;
    color: #999;
}
a:hover {
    color: beige;
}