/* ace the following inside main.css */


@media only screen and (min-width: 961px) {
    head {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    body {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        font-family:'Helvetica';
        font-size: small;
        font-weight: 100;
    }
}

nav ul, footer ul {
    font-family:'Helvetica';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    font-size: 1.2em;
    color: #999;
}
a:hover {
    color: tomato;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    font-size: .8em;
    bottom: 0;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
