@media only screen and (max-width: 700px){
    
}

@media only screen and (max-width: 560px) {
    
}

@media only screen and (min-width: 561px ) {
   
}

.container {
    padding: 0;
    padding-left: 4vw;
    padding-right: 4vw;
}

.topic {
    padding-bottom: 50px;
    margin: 0 !important;
}

.topic-headline {
    font-size: 20px;
    width: 100%;
}

.card-columns {
    column-count: 3;
}

.picture-container {
    width: 250px !important;
}

.picture {
    width: 250px;
    height: auto;
}
