@use "colors";

html
{
    min-height:100%;
    position: relative;
}

#sidebar
{
    position: fixed;
    top: 0;
    width: 300px;
    height: 100%;

    z-index: 10;
}

#name
{
    padding: 25px 0 0 50px;
}

nav 
{
    padding: 10px 0 0 50px;
    line-height: 19px;
    
    .sub-nav 
    {
        text-indent: 10px;
    }
}

#footer
{
    position: fixed;
    bottom: 3vw;
    left: 50px;
}

.current 
{
    font-weight: 700;
}

.media
{
    grid-area: media;
}

.text 
{
    grid-area: text;
}

main 
{
    grid-column-start: 2;
    margin-left: 300px;

    h3 
    {
        margin: 0;
    }

    article p
    {
        padding: 1vw 0vw 0vw 0vw;
        width: 300px;
    }

    section
    {
        padding: 3vw 0 3vw 0;
    }

    #section-1,
    #section-2,
    #section-3,
    #section-4
    {
        display: grid;
        grid-template-columns: 0.6fr 0.4fr;
        grid-template-areas: 
            "media text" 
        ;

        article 
        {
            position: relative;
            
            div 
            {
                position: absolute;
                bottom: 0;
                left: 3vw;
            }
        }

        img
        {
            vertical-align: top;
        }

        video 
        {
            width: 100%;
            vertical-align: top;
        }
    }

    @media screen and (max-width: 870px)
    {
        #section-1, 
        #section-2,
        #section-3,
        #section-4
        {
            grid-template-columns: 1fr;
            grid-template-areas: 
                "media"
                "text"
            ;
            
            article div
            {
                padding: 3vw 0 3vw 0;
                position: sticky;
            }
        }
    }
}

@media screen and (max-width: 1200px)
{
    
    #sidebar
    {
        position: absolute;
        #name
        {
            padding-left: 3vw;  
        }

        #back-arrow
        {
            padding-left: 3vw;
        }

        nav
        {
            padding-left: 3vw;
        }

        height: 0;
    }

    #footer
    {
        position: static;
        padding: 30px 0 0 3vw;
    }

    #container
    {
        grid-template-columns: 1fr;
    }

    main 
    {
        padding-top: 300px;
        margin: 0vw 3vw 0vw 3vw;
    }
}


@media screen and (max-width: 480px)
{
    #sidebar 
    {
        height: 0;
    }
}
