// @use "colors";
// @use "mixins";

// html
// {
//     min-height:100%;
//     position: relative;
// }

// #sidebar
// {
//     position: fixed;
//     top: 0;
//     width: 200px;
//     height: 100%;
//     padding: 0 0 0 4rem;
//     border-right: 1px solid black;
// }

// #name
// {
//     padding: 3rem 0px 2rem 0px;
// }

// nav 
// {
//     line-height: 19px;
    
//     .sub-nav 
//     {
//         text-indent: 10px;
//     }
// }

// footer
// {
//     position: fixed;
//     bottom: 5vh;
// }

// .current 
// {
//     font-weight: 700;
// }

// #container
// {
//     display: grid;
//     grid-template-columns: 200px auto;
// }

// .media
// {
//     grid-area: media;
// }

// .text 
// {
//     grid-area: text;
// }

// main 
// {
//     grid-column-start: 2;
//     // margin: 0vw 5vw 0vw 5vw;

//     section 
//     {
//         // margin: 10rem 0rem 10rem 0rem;
//     }

//     article div
//     {
//         // padding: 0% 15% 0% 10%;
//     }

//     article p
//     {
//         padding: 2vw 0vw 0vw 0vw;
//     }

//     #section-1,
//     #section-2,
//     #section-3,
//     #section-4
//     {
//         display: grid;

//         article 
//         {
//             // border-left: 1px solid black;
//             // display: flex;
//             // align-items: center;
//             position: relative;
//             bottom: 2vw;
//             left: 2vw;
//         }
//     }

//     #section-1
//     {
//         grid-template-columns: 0.6fr 0.4fr;
//         grid-template-areas: 
//             "media text" 
//         ;
//         border-bottom: 1px solid black ;
//         // padding: 5rem 0rem 10rem 0rem;

//         img
//         {
//             content: url('/assets/lounge-room.png');
//             vertical-align: top;
//             border-right: 1px solid black;
//             padding: 2vw;
//         }
//     }

//     #section-2
//     {
//         grid-template-columns: 0.4fr 0.6fr;
//         grid-template-areas: 
//             "text media"
//         ;
//         border-bottom: 1px solid black ;

//         img
//         {
//             content: url('/assets/lounge-room2.png');
//             vertical-align: top;
//             border-left: 1px solid black;
//         }
//     }

//     #section-3
//     {
//         grid-template-columns: 0.5fr 0.5fr;
//         grid-template-areas: 
//             "media text"
//         ;
//         border-bottom: 1px solid black ;

//         video
//         {
//             width: 100%;
//             vertical-align: top;
//             border-right: 1px solid black;
//         }
//     }
    
//     #section-4
//     {
//         grid-template-columns: 0.5fr 0.5fr;
//         grid-template-areas: 
//             "text media"
//         ;
//         // border: 1px solid black ;

//         video
//         {
//             vertical-align: top;
//             width: 100%;
//             border-left: 1px solid black;
//         }
//     }


//     @media screen and (max-width: 1024px)
//     {
//         #section-1, 
//         #section-2,
//         #section-3,
//         #section-4
//         {
//             grid-template-columns: 1fr;
//             grid-template-areas: 
//                 "media"
//                 "text"
//             ;
            
//             padding: 5rem 0rem 10rem 0rem;
            
//             article div
//             {
//                 padding: 3vw 0vw 0vw 0vw;
//             }
//         }
//     }
// }

// @media screen and (max-width: 768px)
// {
//     #sidebar
//     {
//         position: absolute;
//         padding: 0;
//         margin-left: 5rem;
//     }
    
//     footer
//     {
//         position: absolute;
//         top: 250px;
//     }

//     #container
//     {
//         grid-template-columns: 1fr;
//     }

//     main
//     {
//         padding-top: 250px;
//     }
// }

// @media screen and (max-width: 480px)
// {
//     #sidebar
//     {
//         margin-left: 1rem;
//     }

//     #container
//     {
//         grid-template-columns: 1fr;
//     }

//     main 
//     {
//         margin: 0vw 2vw 0vw 2vw;
//     }
// }


@use "colors";
@use "mixins";

html
{
    min-height:100%;
    position: relative;
}

#sidebar
{
    position: fixed;
    top: 0;
    width: 300px;
    height: 100%;

    z-index: 10;
}

#name
{
    padding: 25px 0 0 50px;
}

nav 
{
    padding: 10px 0 0 50px;
    line-height: 19px;
    
    .sub-nav 
    {
        text-indent: 10px;
    }
}

footer
{
    position: fixed;
    bottom: 3vw;
    left: 50px;
}

.current 
{
    font-weight: 700;
}

.media
{
    grid-area: media;
}

.text 
{
    grid-area: text;
}

main 
{
    grid-column-start: 2;
    margin-left: 300px;

    article p
    {
        padding: 1vw 0vw 0vw 0vw;
        width: 300px;
    }

    section
    {
        padding: 3vw 0 3vw 0;
    }

    #section-1,
    #section-2,
    #section-3,
    #section-4
    {
        display: grid;
        grid-template-columns: 0.6fr 0.4fr;
        grid-template-areas: 
            "media text" 
        ;

        article 
        {
            position: relative;
            
            div 
            {
                position: absolute;
                bottom: 0;
                left: 3vw;
            }
        }
    }

    #section-1
    {
        img
        {
            content: url('/assets/lounge-room.png');
            vertical-align: top;
        }
    }

    #section-2
    {
        img
        {
            content: url('/assets/lounge-room2.png');
            vertical-align: top;
        }
    }

    #section-3
    {
        video
        {
            width: 100%;
            vertical-align: top;
        }
    }
    
    #section-4
    {
        // border-bottom: 1px solid black ;

        video
        {
            width: 100%;
            vertical-align: top;
        }
    }


    

    @media screen and (max-width: 870px)
    {
        #section-1, 
        #section-2,
        #section-3,
        #section-4
        {
            grid-template-columns: 1fr;
            grid-template-areas: 
                "media"
                "text"
            ;
            
            article div
            {
                // put into right corner
                padding: 3vw 0 3vw 0;
                position: sticky;
            }
        }
    }
}

// @media screen and (max-width: 1024px)
@media screen and (max-width: 1200px)
{
    #sidebar
    {
        position: absolute;
        #name
        {
            padding-left: 2vw;  
        }

        nav
        {
            padding-left: 2vw;
        }
    }
    
    footer
    {
        position: static;
        padding: 30px 0 0 2vw;
    }

    #container
    {
        grid-template-columns: 1fr;
    }

    main 
    {
        padding-top: 300px;
        margin: 0vw 2vw 0vw 2vw;

        
    }
}


@media screen and (max-width: 480px)
{
    #sidebar
    {
        margin-left: 1rem;
    }

    #container
    {
        grid-template-columns: 1fr;
    }

    
    main 
    {
        margin: 0vw 1vw 0vw 1vw;
    }
}

