<nav>
  <ul>
    <li><a href="/" 
      {% if page.url == "/" %}style="color: black;"{% endif %}
      >Home</a> </li>
      <li><a href="/about.html"
      {% if page.url == "/about" %}style="color: black;"{% endif %}
      >About</a> </li>
    <li><a href="/developer.html"
      {% if page.url == "/developer" %}style="color: black;"{% endif %}
      >Developer</a> </li>
    <li><a href="/art.html"
      {% if page.url == "/art" %}style="color: black;"{% endif %}
      >Art</a> </li>
  </ul>
</nav>
