<nav>
  <ul>
    <li><a href="/" 
      {% if page.url == "/" %}style="color: black;"{% endif %}
      >Home</a> </li>
      <li><a href="/cv/cv.html"
      {% if page.url == "/cv/cv" %}style="color: black;"{% endif %}
      >CV</a> </li>
    <li><a href="/developer/developer.html"
      {% if page.url == "/developer/developer" %}style="color: black;"{% endif %}
      >Developer</a> </li>
    <li> <a href="/art/art.html"
      {% if page.url == /art/art" %}style="color: black;"{% endif %}
      >Art</a> </li>
  </ul>
</nav>
