<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<meta name="viewport" content="width=device-width, initial-scale=1">
		</head>
		<body>
			{% include navigation.html %}
			<hr>
			<div class="container">
			
			{{ content }}
			
			</div>
			<footer>
				<hr>
	    		<ul>
	        		<li><a href="mailto:harukisaitowork@gmail.com">email</a></li>
	        		<li><a href="https://github.com/harukisaito">github</a></li>
				</ul>
			</footer>
		</body>
	</html>
