<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" href="animate.min.css">
			<link rel="stylesheet" href="/css/bootstrap-grid.min.css">
			<link rel="stylesheet" href="/css/animation-delay.css">
			<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		</head>
		<body>
			<div class="container">
				<div class="row">
					<div class="col-md" id="logo">
						haruki <br>
						saito
					</div>
				</div>
				<div class="row" id="container">
					<div class="col-md-3" id="navbar">
						{% include navigation.html %}
					</div>
					<div class="col-md-9" id="content">
						{{ content }}
					</div>
				</div>
			</div>
		</body>
	</html>
