<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<style>
			body {
				margin-left:auto;
				margin-right:auto;
			}
		</style>
		<body>
			{% include navigation.html %}
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:harukisaitowork@gmail.com">email</a></li>
	        		<li><a href="https://github.com/harukisaito">github.com/harukisaito</a></li>
				</ul>
			</footer>
		</body>
	</html>
