/* apply on all sites */

*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    font-family: 'Urbanist', sans-serif;
    letter-spacing: 0.8px;
    font-weight: 200;
    color: rgb(114, 99, 95);
}

html, body {
    height: 100%;
}

.background {
    background: url(/assets/images/first-aid-kit.png);
    background-repeat: repeat;
}

#nav-area {
    display: grid;
}

header, nav {
    grid-area: 1 / 1;
}

body {
    margin: 0;
    background-color: rgb(228, 222, 209);
    display: flex;
    flex-direction: column;
}

nav {
    margin: auto;
    margin-top: 2rem;
    width: 500px;
    padding: 5rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

nav ul li {
    flex: 1 0 5rem;
    text-align: center;
}

a {
    text-decoration: none;
    color: rgb(55, 66, 89);
}

main {
    width: 963px;
    margin: auto;

    flex: 1 0 auto;
}

/* color site */

body {
    --gap: 20px;
    --view-icon-size: 2rem;
    --view-dot-size: 0.3rem;
    --view-dot-margin: 0.85rem;
    --view-bg-color: rgb(101, 123, 104);
    --view-dot-color: rgb(0, 0, 0);
}

#color-container {
    display: grid;
    row-gap: 100px;
}

#view-container {
    display: flex;
    justify-content: space-between;
}

    .view-inline {
        display: inline-block;
    }

        #view-shapes {
            display: flex;
            flex-flow: row nowrap;
            justify-content: left;
            column-gap: var(--gap);

        }

            #view-square {
                width: var(--view-icon-size);
                height: var(--view-icon-size);

                background-color: var(--view-bg-color);
            }
            
            #view-rounded {
                width: var(--view-icon-size);
                height: var(--view-icon-size);
                
                border-radius: 0.5rem;
                background-color: var(--view-bg-color);
                
            }
            
            #view-circle { 
                width: var(--view-icon-size);
                height: var(--view-icon-size);
                
                border-radius: 5rem;
                background-color: var(--view-bg-color);
            }

        #view-shapes-dots {
            display: flex;
            flex-flow: row nowrap;
            justify-content: left;
            column-gap: var(--gap);
            padding-bottom: 20px;
        }
            #view-square-dot {
                width: var(--view-dot-size);
                height: var(--view-dot-size);
                margin: var(--view-dot-margin);
                
                border-radius: 0.3rem;
                /* background-color: var(--view-dot-color); */
            }
            
            #view-rounded-dot {
                width: var(--view-dot-size);
                height: var(--view-dot-size);
                margin: var(--view-dot-margin);
                
                border-radius: 0.3rem;
                /* background-color: var(--view-dot-color); */
                
            }
            
            #view-circle-dot { 
                width: var(--view-dot-size);
                height: var(--view-dot-size);
                margin: var(--view-dot-margin);
                
                border-radius: 0.3rem;
                /* background-color: var(--view-dot-color); */
            }

        #view-appearance {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-end;
            column-gap: var(--gap);

            padding-bottom: 20px;
        }

            #view-tiles {
                width: var(--view-icon-size);
                height: var(--view-icon-size);

                display: grid;
                grid-template-columns: 1fr 1fr;
                row-gap: 3px;
                column-gap: 3px;
            }

                #view-tiles div {
                    border-radius: 2px;
                    background-color: var(--view-bg-color);
                }

            #view-stacked {
                width: var(--view-icon-size);
                height: var(--view-icon-size);


                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
            }

                #view-stacked div {
                    border-radius: 2px;
                    background-color: var(--view-bg-color);
                }

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    row-gap: var(--gap);
    column-gap: var(--gap);
}

footer {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

svg {
    flex-shrink: 0;
}

svg path {
    fill: rgb(164, 131, 118);
}